.mymap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.mapcontainer {
    text-align: center;
    padding: 30px;
    background-color: rgba(253, 235, 230);
    width: 400px;
}
.buttonGeo {
    background-color: #FDEBE6;
    border-radius: 15px;
    color: #624343;
    cursor: pointer;
    margin-top: 10px;
}

#map {
    height: 230px;
    width: 100%;
}