.mymap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.mapcontainer {
    text-align: center;
    padding: 30px;
    background-color: rgba(253, 235, 230);
    width: 400px;
}
.button {
    background-color: #FDEBE6;
    border: 1px solid #B83E3E;
    border-radius: 15px;
    font-size: 15px;
    color: #624343;
    cursor: pointer;
    margin-top: 10px;
    width: 180px;
    height: 40px;
}
.button:hover  {
    background-color: #B83E3E;
    color: white;
}
#map {
    height: 230px;
    width: 100%;
}